<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html:{class: "well span4"}) do |f| %>
  <%= devise_error_messages!%>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
  <% if !devise_error_messages!.index("Email").nil? %>
    <div class ="error">
    </div>
    <small class="error">Invalid entry</small>
  <%end%>


  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
  <% if !devise_error_messages!.index("Password").nil? %>
    <div class ="error">
    </div>
    <small class="error">Invalid entry</small>
  <%end%>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
  <%= render "devise/shared/links" %>
<% end %>

