
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: "span4 well pull-right", :method => :post }) do |f| %>
  <legend>Forgot password?</legend>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Reset Password", class: "btn btn-warning" %></div>
<% end %>

