%div.hero-unit
  %h1 Welcome to AIT Junction!
  %p
    A new way to connect students together.
%ul.pricing-table.span3
  %li.title OSS Club
  %li.price Open Source People Here!
  %li.description Born to code the World
  %li.bullet-item Oss Sec.
  %li.bullet-item Oss Sec.
  %li.cta-button
    = link_to "Join", root_path, class: "button"
%ul.pricing-table.span3
  %li.title OSS Club
  %li.price Open Source People Here!
  %li.description Born to code the World
  %li.bullet-item Oss Sec.
  %li.bullet-item Oss Sec.
  %li.cta-button
    = link_to "Join", root_path, class: "button"
%ul.pricing-table.span3
  %li.title OSS Club
  %li.price Open Source People Here!
  %li.description Born to code the World
  %li.bullet-item Oss Sec.
  %li.bullet-item Oss Sec.
  %li.cta-button
    = link_to "Join", root_path, class: "button"
%ul.pricing-table.span3
  %li.title OSS Club
  %li.price Open Source People Here!
  %li.description Born to code the World
  %li.bullet-item Oss Sec.
  %li.bullet-item Oss Sec.
  %li.cta-button
    = link_to "Join", root_path, class: "button"
%ul.pricing-table.span3
  %li.title OSS Club
  %li.price Open Source People Here!
  %li.description Born to code the World
  %li.bullet-item Oss Sec.
  %li.bullet-item Oss Sec.
  %li.cta-button
    = link_to "Join", root_path, class: "button"
