.well
  .page-header
    %h1 OSS Club
    = link_to "New Post", new_post_path(@posts.first.users_club.club_id), class: "btn btn-info"
  - @posts.reverse.each do |post|
    .status
      %strong= post.users_club.model.email
      %br
      -if !post.title.blank?
        %strong
          Title : 
          = post.title
      %p= post.description
      .meta
        = link_to " Edit ", edit_post_path(post), class: "icon-pencil"
        = link_to " Delete ", post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon-remove"
        = link_to "   " + time_ago_in_words(post.created_at) + " ago", post, class: "icon-time"
