%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag "application", media: :all
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1= link_to 'Awesumn Clubs', root_path
      %section.top-bar-section
        %ul.right
          - if model_signed_in?
            %li.divider
              %li.active
                = link_to 'Logout', destroy_model_session_path
            %li.divider
              %li.active
                = link_to 'Edit', edit_model_registration_path
          - else
            %li.divider
            %li.active
              = link_to 'Login', new_model_session_path
            %li.divider
            %li.active
              = link_to 'Register', new_model_registration_path
    %div.row
      %div.small-8.columns
        = yield
      %div.small-4.columns
        %h2 About Us
        This is Pancake project
    = javascript_include_tag "application"
